<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NetflowTellcomWSSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="NetflowTellcomWSSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://netflowext.superonline.net/NetflowSecureApiService/NetflowTellcomWS.asmx"
        binding="basicHttpBinding" bindingConfiguration="NetflowTellcomWSSoap"
        contract="AdslService.NetflowTellcomWSSoap" name="NetflowTellcomWSSoap" />
      <endpoint address="http://netflowext.superonline.net/NetflowSecureApiService/NetflowTellcomWS.asmx"
        binding="customBinding" bindingConfiguration="NetflowTellcomWSSoap12"
        contract="AdslService.NetflowTellcomWSSoap" name="NetflowTellcomWSSoap12" />
    </client>
  </system.serviceModel>
</configuration>