	<div id="bindingContainer" class="container-fluid" style="background-color: lightcyan">
			<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
				<div class="panel-group" id="accordion">
					<div class="panel" id="panel2" style="border: 1px solid #fff !important;">
					</div>
				</div>
			</div>

			<div data-bind="visible:blockList().length<1" class="col-md-6 col-md-offset-3" style="position: absolute; top: 150px;" id="id_alert" onclick="setTimeout(function () { $('#id_alert').css({ display: 'none' }); }, 1000)">
				<div class="alert alert-danger alert-dismissible cls_alert" role="alert" style="height: 100px;">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<strong>Warning!</strong> Better check yourself, you're not looking too good.
				</div>
			</div>

			<div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
				<div class="panel-group">
					<div class="panel" style="border: 1px solid #fff !important;">
						<div class="panel-heading task-gradient">
							<div class="row cls-padding-0px">
								<div class="col-xs-6 col-sm-6 col-md-6">
									Blok
								</div>
								<div class="col-xs-6 col-sm-6 col-md-6">
									<!--pagination Starts-->
                                    <nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
                                        <ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
                                            <li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); } ,enable:pageNo>1">&lt;&lt;</a></li>
                                            <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage();}">&lt;</a></li>
                                            <li><select> <option>1</option> </select></li>
                                            <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
                                            <li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
                                        </ul>
                                    </nav>
									<!--pagination finish-->
								</div>
							</div>
						</div>
						<div class="panel-body" style="margin: 0 15px 0 15px !important; padding: 0px !important;">
							<div class="container-fluid cls-padding-0px cls-deneme-height ">
								<div class="row cls-margin-task">
									<div class="col-lg-12 cls-padding-0px">
										<div class="col-lg-12 cls-task cls-padding-0px">
										</div>
									</div>
								</div>
							</div>
							<!--pagination Starts-->
                            <nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
                                <ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
                                    <li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); } ,enable:pageNo>1">&lt;&lt;</a></li>
                                    <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage();}">&lt;</a></li>
                                    <li><select> <option>1</option> </select></li>
                                    <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
                                    <li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
                                </ul>
                            </nav>
							<!--pagination finish-->
						</div>
					</div>
				</div>
			</div>    
    </div>


<script src="Templates/Blocks.js"></script>

<script>
    $(document).ready(function () {
        moment.locale('tr');
    });
</script>
