<style>
    #taskquetable {
        cursor: pointer;
        color: #000;
    }

        #taskquetable tr:hover {
            background: rgba(128, 199, 136, 0.50);
        }

    .selected {
        background: rgba(111, 198, 121, 0.69);
    }

    .a {
        position: relative;
        padding: 0;
    }

        .a i {
            position: absolute;
            bottom: 10px;
            right: 24px;
            top: auto;
            cursor: pointer;
        }
</style>
<div id="bindingContainer" class="container-fluid" style="background-color: rgb(238, 236, 236)">
    <div class="col-md-12 container" style="padding: 0 !important; margin: 40px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
        <div class="panel-group" id="accordion">
            <div class="panel" id="panel2" style="border: 1px solid #fff !important;">
                <div class="panel-heading filter-gradient">
                    <a data-toggle="collapse" data-target="#collapse1"
                       href="javascript:void(0)" class="collapsed filtertitle">
                        <h4 class="panel-title">
                            Filtreleme
                            <span class="glyphicon glyphicon glyphicon-filter" aria-hidden="true"></span>
                        </h4>

                    </a>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group-sm has-info cls-margin-bottom">
                                <label class="control-label" for="durumtanimi">İl</label>
                                <input type="text" class="form-control" id="Text1" data-bind="value: il, valueUpdate: 'keydown', event: { keypress: enterfilter }" />
                                <!--	 <span id="site" class="kth col-md-12 form-control" data-bind="value:sitename"></span>-->
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group-sm has-info cls-margin-bottom">
                                <div class="col-md-12" style="padding: 0;">
                                    <label class="control-label" for="blokadi">İlçe</label>
                                </div>
                                <div class="col-md-12" style="padding: 0;">
                                    <input type="text" class="form-control" id="Text1" data-bind="value: ilce, valueUpdate: 'keydown', event: { keypress: enterfilter }" />
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group-sm has-info cls-margin-bottom">
                                <label class="control-label" for="durumtanimi">Abone Ad-Soyad</label>
                                <input type="text" class="form-control" id="Text2" data-bind="value: customername, valueUpdate: 'keydown', event: { keypress: enterfilter }" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group-sm has-info cls-margin-bottom">
                                <label class="control-label" for="durumtanimi">Atanma Tarihi</label>
                                <div class="col-md-12 a">
                                    <input type="text" id="daterangepicker1" class="form-control" data-bind="value:attachmentDate, valueUpdate: 'keydown', event: { keypress: enterfilter }">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group-sm has-info cls-margin-bottom">
                                <label class="control-label" for="durumtanimi">Sonlanma Tarihi</label>
                                <div class="col-md-12 a">
                                    <input type="text" id="daterangepicker3" class="form-control" data-bind="value: consummationDate, valueUpdate: 'keydown', event: { keypress: enterfilter }">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group-sm has-info cls-margin-bottom">
                                <label class="control-label" for="durumtanimi">Süperonline Müşteri No</label>
                                <input type="text" class="form-control" data-bind="value: superonlineNo, valueUpdate: 'keydown', event: { keypress: enterfilter }" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
                            <div class="form-group-sm has-info cls-margin-bottom">
                                <div class="col-md-12">
                                    <label class="control-label" for="taskNameFilter">Task Adı</label>
                                </div>
                                <div class="col-md-12">
                                    <select id="taskNameFilter" data-bind="options: tasks, optionsText: 'taskname', optionsValue: 'taskid',  valueUpdate: 'keydown', event: { keypress: enterfilter }" multiple="multiple"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
                            <div class="form-group-sm has-info cls-margin-bottom">
                                <div class="col-md-12">
                                    <label class="control-label" for="personel">Personel</label>
                                </div>
                                <div class="col-md-12">
                                    <select data-size="10" id="personel" data-bind="options: personellist,
                                                                                        optionsText:function(item) {
                                                                                           return item.personelname +(item.il!=null? ' ['+item.il.ad+']':'') +(item.ilce!=null?' ['+item.ilce.ad+']':'')
                                                                                       },
                                                                                        optionsValue: 'personelid',
                                                                                        valueUpdate: 'keydown',
                                                                                        event: { keypress: enterfilter }" multiple="multiple"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
                            <div class="form-group-sm has-info cls-margin-bottom">
                                <div class="col-md-12">
                                    <label class="control-label" for="taskdurumu">Task Durumu</label>
                                </div>
                                <div class="col-md-12">
                                    <select id="taskdurumu" data-bind="options: taskstatuslist, optionsText: 'taskstate', optionsValue: 'taskstateid',value:defaultstatus, valueUpdate: 'keydown', event: { keypress: enterfilter }" multiple="multiple"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
                            <div class="form-group-sm has-info cls-margin-bottom">
                                <div class="col-md-12">
                                    <label class="control-label" for="laststate">Süreç Durumu</label>
                                </div>
                                <div class="col-md-12">
                                    <select id="laststate" data-bind="options: lastStatusList, optionsText: 'name', optionsValue: 'id',value:lastStatus, valueUpdate: 'keydown', event: { keypress: enterfilter }"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4" style="padding:1px;">
                            <div class="form-group-sm has-info cls-margin-bottom">
                                <div class="col-md-12">
                                    <label class="control-label" for="laststate">Task Sıralama</label>
                                </div>
                                <div class="col-md-12">
                                    <select id="ranking" data-bind="options: rankingList, optionsText: 'name', optionsValue: 'id',value:selectedRanking, valueUpdate: 'keydown', event: { keypress: enterfilter }"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <div class="form-group-sm has-info cls-margin-bottom">
                                <label class="control-label" for="durumtanimi">Koç Müşteri No</label>
                                <input type="text" class="form-control" id="Text10" data-bind="value: custid, valueUpdate: 'keydown', event: { keypress: enterfilter }" />
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 pull-right" style="margin-top: 21px;">
                            <!--								 <input  type="checkbox" data-bind="checked:atanmamistasklar" />Atanmamış Tasklar </input>-->
                            <div class="btn-group pull-right" role="group">
                                <button data-bind="click: queryButtonClick" type="button" class="btn btn-success">Sorgula</button>
                                <button data-bind="click: clean" type="button" class="btn btn-warning">Temizle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3" data-bind="visible: isLoading() == false && taskqueuelist().length==0" style="position: absolute; top: 150px;" id="id_alert" onclick="setTimeout(function () { $('#id_alert').css({ display: 'none' }); }, 1000)">
        <div class="alert alert-danger alert-dismissible cls_alert" role="alert" style="height: 100px;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-search"> <strong>Bence Yanlış Filtreleme Yaptın.</strong> </span>
            <br /><strong>Ya da böyle bir kayıt yok</strong>

        </div>
    </div>

    <div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
        <div class="panel-group">
            <div class="panel" style="border: 1px solid #fff !important;">
                <div class="panel-heading task-gradient">
                    <div class="row cls-padding-0px">
                        <div class="col-xs-6 col-sm-6 col-md-6" data-bind="ifnot: isLoading">
                            Task İşlemleri
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            Toplam sorgu süresi
                            <span id="querytime" data-bind="text: querytime"></span> saniye -&nbsp;&nbsp;
                            Toplam
                            <span class="badge" id="totalCount" style="color:#000 ;font-family:'Comic Sans MS', cursive" data-bind="text: totalRowCount"></span> kayıttan  &nbsp;&nbsp;
                            <span class="badge" id="Span1" style="color:#000;font-family:'Comic Sans MS', cursive " data-bind="text: taskqueuelist().length"></span> adet görüntülüyorsunuz  &nbsp;&nbsp;
                            <span class="glyphicon   glyphicon glyphicon-dashboard " aria-hidden="true"></span>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <!--pagination Starts-->
                            <nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
                                <ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
                                    <li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); } ,enable:pageNo>1">&lt;&lt;</a></li>
                                    <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage();}">&lt;</a></li>
                                    <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
                                    <li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
                                    <li><button data-bind="click: clean" type="button" class="btn btn-warning">Temizle</button></li>
                                </ul>
                            </nav>
                            <!--pagination finish-->
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="margin: 0 15px 0 15px !important; padding: 0px !important;">
                    <div class="container-fluid cls-padding-0px cls-deneme-height ">
                        <div class="row cls-margin-task">
                            <div class="col-lg-12 cls-padding-0px">
                                <div class="col-lg-12 cls-task cls-padding-0px table-responsive">
                                    <table class="table table-bordered table-hover" id="taskquetable" data-pagination="true" data-search="true">
                                        <thead>
                                            <tr>
                                                <th class="col-md-1" style="border-right: 1px solid #ddd;">
                                                    <div class="dropdown">
                                                        <a id="dLabel" role="button" data-toggle="dropdown" class="btn btn-success" style="padding: 2px 15px;">
                                                            İşlemler <span class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                                                            <li class="dropdown-submenu">
                                                                <a tabindex="-1" href="#">Seçim</a>
                                                                <ul class="dropdown-menu">
                                                                    <li><a tabindex="-1" href="#">Tümünü Seç</a></li>
                                                                    <li><a href="#">Seçimi Çevir</a></li>
                                                                    <li><a href="#">Seçimi Temizle</a></li>
                                                                </ul>
                                                            </li>
                                                            <li class="divider"></li>
                                                            <li><a href="#randevu" role="button" data-toggle="modal">Randevu Tarihi</a></li>
                                                            <li><a href="#personelata" id="atama" data-bind="click:attacheablecontrol, visible:perOfBayiOrKoc()" role="button" data-toggle="modal">Personel Ata</a></li>
                                                            <li><a href="#sonlandir" data-bind="click: readyCollective" role="button" data-toggle="modal">Taskları Sonlandır</a></li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Excel'e Kaydet</a></li>
                                                        </ul>
                                                    </div>
                                                </th>
                                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Task</th>
                                                <th class="col-md-1" style="border-right: 1px solid #ddd;">İl/İlçe</th>
                                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Mahalle</th>
                                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Müşteri Ad-Soyad/İD</th>
                                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Personel</th>
                                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Atanma Tarihi</th>
                                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Netflow Tarihi</th>
                                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Sonlanma Tarihi</th>
                                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Durum</th>
                                                <th class="col-md-3" style="border-right: 1px solid #ddd;">Açıklama</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="height:500px" data-bind="visible:isLoading">
                                                <td data-bind="visible: isLoading" colspan="12" style="background: url('/img/load.gif')  center no-repeat;"></td>
                                            </tr>
                                            <!-- ko foreach: taskqueuelist -->
                                            <tr data-bind="attr:{class :attachedpersonel==null? ' satir' : (taskstatepool==null ?' satir' :' satir' )},value:taskorderno" style="line-height: 50px;">

                                                <td>
                                                    <a href="#surecinfo" class="customer" role="button" data-toggle="modal" data-bind="click: $root.ara(attachedcustomer.customerid)">
                                                        <button id="surec" type="button" class="btn btn-success btn-small" style="margin-bottom:2px;padding: 3px; border-radius: 5px; font-size:14px;">
                                                            Süreç
                                                        </button>
                                                    </a>
                                                    <input class="sel" type="checkbox" data-bind="value:taskorderno" />
                                                    <br />
                                                    <a href="#TaskQueueEditForm" data-bind="attr: {href:'#TaskQueueEditForm?'+taskorderno}">
                                                        <button data-bind="visible:attachedpersonel && attachedpersonel.personelname, text: editable?'Düzenle': 'Gör'" id="duzenle" type="button" class="btn btn-success btn-small" style="padding: 3px; border-radius: 5px; font-size:14px;">
                                                            Düzenle
                                                        </button>
                                                    </a>
                                                </td>
                                                <td style="color:#284af5;font-family:'Franklin Gothic Medium','Arial Narrow', Arial, sans-serif" data-bind="text:task.taskname"></td>
                                                <td data-bind="text: attachedcustomer && ((attachedcustomer.il && attachedcustomer.il.ad || '&lt;boş&gt;') + '/' + '\r\n' + (attachedcustomer.ilce && attachedcustomer.ilce.ad || '&lt;boş&gt;'))"></td>
                                                <td data-bind="text: attachedcustomer && (attachedcustomer.mahalle && attachedcustomer.mahalle.ad || '&lt;boş&gt;')"></td>
                                                <td style="color:#284af5;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                                                    <a href="#customerinfo" class="customer" role="button" data-toggle="modal" data-bind="value:attachedcustomer.customerid">
                                                        <span data-bind="text: attachedcustomer && ((attachedcustomer.customername || '&lt;boş&gt;') + '/' + '\r\n' + attachedcustomer.customerid)"></span>
                                                    </a>
                                                </td>
                                                <td data-bind="text: (attachedpersonel && attachedpersonel.personelname || '&lt;atanmamış&gt;') "></td>
                                                <td data-bind="text: attachmentdate ? moment(attachmentdate).format('LLL') : '&lt;boş&gt;'"></td>
                                                <td data-bind="text: (appointmentdate ? moment(appointmentdate).format('LLL') : '&lt;boş&gt;' )"></td>
                                                <td data-bind="text: consummationdate ? moment(consummationdate).format('LLL') : '&lt;boş&gt;'"></td>
                                                <td style="font-size:large;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" data-bind="text:(taskstatepool &&taskstatepool.taskstate || 'AÇIK') + '/' + '\r\n' + laststatus "></td>
                                                <td data-bind="text: desc, attr: { title: description }"></td>
                                            </tr>
                                            <!-- /ko -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--pagination Starts-->
                    <nav class="text-center" style="margin: 0px !important;padding: 0px !important;">
                        <ul class="pagination" style="margin: 0 !important;padding: 0px !important; float:right;">
                            <li class="previous"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoFirstPage(); }, enable: pageNo > 1">&lt;&lt;</a></li>
                            <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoBackPage(); }">&lt;</a></li>
                            <li><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoNextPage(); }">&gt;</a></li>
                            <li class="next"><a href="javascript:void(0)" data-bind="click: function (e) { navigate.gotoLastPage(); }">&gt;&gt;</a></li>
                            <li><button data-bind="click: clean" type="button" class="btn btn-warning">Temizle</button></li>
                        </ul>
                    </nav>
                    <!--pagination finish-->
                </div>
            </div>
        </div>
    </div>

    <!-- toplu task sonlandır işlemi start -->
    <div class="modal fade" id="sonlandir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog" role="document" style="margin-top: 50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Toplu Task Sonlandırma</h4>
                </div>
                <div class="modal-body" data-bind="with:readyCollectiveList().length > 0 ? readyCollectiveList()[0] : null" style="min-height: 80px;">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" style="margin-top: 5px; margin-bottom: 5px;">
                        <p><label data-bind="text:$root.readyCollectiveList().length + ' Adet ' + task.taskname + ' Taskı Seçildi'"></label></p>
                    </div> 
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <select id="statecombo" data-bind="options: $root.taskstatuslistforcollective, optionsText:'taskstate', optionsValue:'taskstateid', optionsAfterRender: $root.setOptionDisable ,optionsCaption:'Seçiniz'" class="form-control"></select>
                    </div>
                </div>
                <div>
                    <span id="uyari_state" class="label label-danger">Durum Seçiniz...</span>
                    <span id="uyari_ayni" class="label label-danger">Toplu Task Kapatmak İçin Task Adı Aynı Olan Taskları Seçiniz..</span>
                    <span id="uyari_surec" class="label label-danger">İşlem Süreç Tasklarının Haricinde Tasklar Seçiniz...</span>
                    <span id="uyari_bekle" class="label label-warning">Lütfen İşlemin Tamamlanmasını Bekleyiniz...</span>
                    <span id="tamam" class="label label-success">İşlem Başarılı...</span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                    <button id="kaydetcol" type="button" data-bind="click:saveTaskCollective" class="btn btn-success">Kaydet</button>
                </div>
            </div>

        </div>
    </div>
    <!-- toplu task sonlandır işlemi finish -->

    <!-- İşlemler *personel atama* For Modal Start -->
    <div class="modal fade" id="personelata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document" style="margin-top: 50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-bind="click:redirect" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Personel Atama</h4>
                </div>
                <div class="modal-body" style="display: inline-block; position: absolute; min-height: 50px;">
                    <div class="col-xs-12 col-sm-12 col-md-12 cls-padding-0px" style="margin-top: 3px;" data-bind="visible: !errorcode()">
                        <select id="personelatamacombo" data-bind="options: dataModel.attacheablePersonelList,
                                        optionsText:function(item) {
                    return item.personelname +(item.il!=null? ' ['+item.il.ad+']':'') +(item.ilce!=null?' ['+item.ilce.ad+']':'')
                                                       },
                                        optionsValue: 'personelid',
                                        value: selectedAttachmentPersonelid " multiple="multiple"></select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 cls-padding-0px" style="margin-top: 3px;" data-bind="visible: errorcode()">
                        <span class="label label-success" data-bind="text: errormessage , visible:errorcode()==1"></span>
                        <span class="label label-danger" data-bind="text: errormessage, visible: errorcode() != 1"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bind="click:queryButtonClick" data-dismiss="modal">Kapat</button>
                    <button type="button" data-bind="click: attachmentpersonel" class="btn btn-success">Kaydet</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="customerinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document" style="margin-top: 50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Müşteri Kimlik Kartı</h4>
                </div>
                <div class="modal-body" data-bind="with: selectedCustomer" style="display: inline-block; position: relative; min-height: 50px;">

                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Müşteri No:</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><label data-bind="text:customerid"></label></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>S. Müşteri No</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <input data-bind="value:superonlineCustNo,enable:$root.perOfBayiOrKoc()" class="form-control" id="socn">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Adı Soyadı</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><input class="form-control" data-bind="value:customername"></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Tc Kimlik No</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><input class="form-control" data-bind="value:tc"></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>GSM</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><input class="form-control" data-bind="value:gsm"></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Sabit Tel</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><input data-bind="value:phone" class="form-control"></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>E-Posta</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><input data-bind="value:email" class="form-control"></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Doğum Tarihi</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p> <input data-bind="value:birthdate" class="form-control"></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>İl</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select class="form-control" id="ilcombo" data-bind="options: $root.ilList, optionsText: 'ad', optionsValue: 'kimlikNo', value:$root.ilKimlik , optionsCaption:'Seçiniz'"></select>
                    </div>
                    <div data-bind="visible:$root.ilKimlik" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>İlçe</p>
                    </div>
                    <div data-bind="visible:$root.ilKimlik" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select id="ilcecombo" data-bind="options: $root.ilceList, optionsText: 'ad', optionsValue: 'kimlikNo',optionsCaption:'Seçiniz', event: { change: $root.ilceChanged }" class="form-control"></select>
                    </div>
                    <div data-bind="visible:$root.ilceKimlik" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Bucak</p>
                    </div>
                    <div data-bind="visible:$root.ilceKimlik" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select id="bucakcombo" data-bind="options: $root.bucakList, optionsText: 'ad', optionsValue: 'kimlikNo',optionsCaption:'Seçiniz', event: { change: $root.regionChanged }" class="form-control"></select>
                    </div>
                    <div data-bind="visible:$root.regionKimlik" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Mahalle</p>
                    </div>
                    <div data-bind="visible:$root.regionKimlik" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select id="mahallecombo" data-bind="options: $root.mahalleList, optionsText: 'ad', optionsValue: 'kimlikNo',optionsCaption:'Seçiniz',event: { change: $root.mahalleChanged }" class="form-control"></select>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Açıklama / Açık Adres</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><textarea data-bind="value:description" class="form-control" rows="3"></textarea></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                    <button type="button" data-bind="click:saveCustomer" class="btn btn-success">Kaydet</button>
                </div>
            </div>

        </div>
        <!-- müşteri bilgilerini düzenleme For Modal Finish-->
    </div>

    <!-- Süreç -->
    <div class="modal fade" id="surecinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-lg center-block" role="document" style="margin-top: 50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title center-block" id="myModalLabel">Süreç Taskları</h4>
                </div>
                <div class="modal-body" style="display: inline-block; position: relative;">
                    <table class="table table-bordered table-hover" data-bind="visible:sureclist().length > 0" id="taskquetable" style="padding-right:10px;">
                        <thead style="background-color:#8efba6">
                            <tr>
                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Task</th>
                                <th class="col-md-1" style="border-right: 1px solid #ddd;">İl</th>
                                <th class="col-md-1" style="border-right: 1px solid #ddd;">İlçe</th>
                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Müşteri</th>
                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Personel</th>
                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Atanma Tarihi</th>
                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Netflow Tarihi</th>
                                <th class="col-md-1" style="border-right: 1px solid #ddd;">Sonlanma Tarihi</th>
                                <th class="col-md-2" style="border-right: 1px solid #ddd;">Durum</th>
                                <th class="col-md-2" style="border-right: 1px solid #ddd;">Açıklama</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: sureclist -->
                            <tr>
                                <td style="font-size:large;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" data-bind="text:task.taskname"></td>
                                <td data-bind="text: attachedcustomer && (attachedcustomer.il && attachedcustomer.il.ad || 'Boş') "></td>
                                <td data-bind="text: attachedcustomer && (attachedcustomer.ilce && attachedcustomer.ilce.ad || 'Boş') "></td>
                                <td style="color:#284af5;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" data-bind="text: attachedcustomer && (attachedcustomer.customername && (attachedcustomer.customername) || 'Boş')"></td>
                                <td data-bind="text: (attachedpersonel && attachedpersonel.personelname || 'Atanmamış') "></td>
                                <td data-bind="text: attachmentdate ? moment(attachmentdate).format('LLL') : 'Boş'"></td>
                                <td data-bind="text: (appointmentdate ? moment(appointmentdate).format('LLL') : 'Boş' )"></td>
                                <td data-bind="text: consummationdate ? moment(consummationdate).format('LLL') : 'Boş'"></td>
                                <td style="font-size:large;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" data-bind="text:(taskstatepool &&taskstatepool.taskstate || 'AÇIK')"></td>
                                <td data-bind="text: description"></td>
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger right" data-dismiss="modal">Kapat</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Süreç Modal -->
</div>

<script>
    $(document).ready(function () {
        moment.locale('tr');
    });
</script>
<script type="text/javascript" src="Templates/ListTaskqueue.js"></script>