<div id="bindingContainer" class="container-fluid" style="background-color: rgb(238, 236, 236)">
    <div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
        <div class="panel-group" id="accordion">
            <div class="panel" id="panel2" style="border: 1px solid #fff !important;">
                <div class="panel-heading filter-gradient">
                    <a data-toggle="collapse" data-target="#collapse1"
                       href="javascript:void(0)" class="collapsed filtertitle">
                        <h4 class="panel-title">
                            Filtreleme
                            <span class="glyphicon glyphicon glyphicon-filter" aria-hidden="true"></span>
                        </h4>

                    </a>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
        <div class="panel-group">
            <div class="panel" style="border: 1px solid #fff !important;">
                <div class="panel-heading task-gradient">
                    <div class="row cls-padding-0px">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            Satış Kurulum Raporu
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <!--pagination Starts-->
                            <!--pagination finish-->
                        </div>
                    </div>
                </div>
                <div class="panel-body" style="margin: 0 15px 0 15px !important; padding: 0px !important;">
                    <div class="container-fluid cls-padding-0px cls-deneme-height ">
                        <div class="row cls-margin-task">
                            <div class="col-lg-12 cls-padding-0px">
                                <div class="col-lg-12 cls-task cls-padding-0px table-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--pagination Starts-->
                    <!--pagination finish-->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="Templates/SKReport.js"></script>