
<style>
    .a {
        position: relative;
        padding: 0;
    }

        .a i {
            position: absolute;
            bottom: 10px;
            right: 24px; 
            top: auto;
            cursor: pointer;
        }
</style>
<div id="bindingContainer" class="container-fluid" style="background-color: #D1E9F6 !important;">
    <span style="display:none"><input type="file" id="fileUpload" value="Seç..." name="fileUpload[]" multiple data-bind="enable: editable() && (customerdocument().length>0)" /></span>
    <div class="col-md-12 container" style="padding: 0 !important; margin: 20px 0 0 0 !important; border-radius: 0 0 8px 8px !important;">
        <div class="panel-group">
            <div class="panel" style="border: 1px solid #fff !important;">
                <div class="panel-heading  panel-danger task-gradient filter-gradient">Task Bilgileri</div>
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4">Task No</div>
                        <div class="col-xs-2 col-sm-2 col-md-2">:</div>
                        <div data-bind="text:taskorderno" class="col-xs-6 col-sm-6 col-md-6"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4">Oluşturulma Tarihi</div>
                        <div class="col-xs-2 col-sm-2 col-md-2">:</div>
                        <div class='col-xs-6 col-sm-6 col-md-6'>
                            <div>
                                <input type="text" id="daterangepicker3" class="form-control a" data-bind="enable: false,value: creationdate ? creationdate :null">
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 ">Personel</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div data-bind="text: personelname" class="col-xs-6 col-sm-6 col-md-6"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 ">Abone Ad-Soyad</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <a href="#customerinfo" data-bind="text:customername,click:getCustomerCard" role="button" data-toggle="modal"></a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 ">Task</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div data-bind="text: taskname" class="col-xs-6 col-sm-6 col-md-6 "></div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4">Atanma Tarihi</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class='col-xs-6 col-sm-6 col-md-6'>
                            <div class="form-group">
                                <div class="col-md-12 a">
                                    <input type="text" id="daterangepicker1" class="form-control" data-bind="enable: false, value: attachmentdate ? attachmentdate :null">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4" style="padding:0;">Satış Kaynağı</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div data-bind="visible:faultEditable()" class="col-xs-6 col-sm-6 col-md-6">
                            <select id="kaynak" data-bind="options:faultList,optionsText:'name',optionsValue:'name', optionsCaption:'Seçiniz',value:fault"></select>
                        </div>
                        <div data-bind="text:fault,visible:!faultEditable()" class="col-xs-6 col-sm-6 col-md-6"></div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 ">TC</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class="col-xs-6 col-sm-6 col-md-6 ">
                            <input type="text" id="custTc" class="form-control" data-bind="enable: perOfBayiOrKoc(), value:tc">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-6 col-sm-6 col-md-6 " data-bind="visible:previoustask">
                            <a href="#TaskQueueEditForm" data-bind="attr: {href:'#TaskQueueEditForm?'+ previoustask()}">
                                <button id="duzenle" type="button" class="btn btn-success btn-small ">
                                    Önceki Task
                                </button>
                            </a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6" data-bind="visible:relatedtask">
                            <a href="#TaskQueueEditForm" data-bind="attr: {href:'#TaskQueueEditForm?'+ relatedtask()}">
                                <button id="duzenle" type="button" class="btn btn-warning btn-small ">
                                    Satış Taskı
                                </button>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 " data-bind="text:dateoption"></div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class='col-xs-6 col-sm-6 col-md-6'>
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12  a">
                                    <input type="text" id="daterangepicker2" class="form-control" data-bind="enable: isEnableDateOption(), value:appointmentdate, event: {change: ff}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="form-group height-30">
                            <div class="col-xs-4 col-sm-4 col-md-4 ">İl</div>
                            <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                            <div data-bind="text: il" class="col-xs-6 col-sm-6 col-md-6"></div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4">Gsm</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div data-bind="text: customergsm" class="col-xs-6 col-sm-6 col-md-6 "></div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-3">
                       
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4">Kapanma Tarihi</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <div class="col-md-12 a">
                                    <input type="text" id="daterangepicker4" class="form-control" data-bind="enable: false, value: consummationdate ? consummationdate :null">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-6 col-sm-2 col-md-4 ">İlçe</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div data-bind="text:ilce" class="col-xs-6 col-sm-6 col-md-6 "></div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 ">S. Müşteri No</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="text" id="somn" class="form-control" data-bind="enable: perOfBayiOrKoc(), value:smno">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-3 height-40">
                        <div class="col-xs-4 col-sm-4 col-md-4 ">Task Durumu</div>
                        <div class="col-xs-2 col-sm-2 col-md-2 ">:</div>
                        <div class="col-xs-6 col-sm-6 col-md-6 ">
                            <select id="taskdurumu" data-bind="options:taskstatuslist,optionsText:'taskstate',optionsValue:'taskstateid',value:taskstatus,enable:editable"></select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-8 col-md-9">
                        <div class="col-xs-4 col-sm-4 col-md-1">Açıklama</div>
                        <div class="col-xs-2 col-sm-2 col-md-1 ">:</div>
                        <div class="col-xs-6 col-sm-6 col-md-10">
                            <textarea data-bind="value:description" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div data-bind="visible:eskiserial() || baglantiKontrol()" class="col-xs-12 col-sm-12 col-md-12">
                        
                    </div>
                    <div data-bind="visible:eskiserial()" class="col-xs-12 col-sm-12 col-md-12 label-warning">
                        <div class="col-xs-6 col-sm-6 col-md-6"><strong>Müşteriden Alınacak Olan Modem Seri</strong></div>
                        <div class="col-xs-1 col-sm-1 col-md-1"><strong>:</strong></div>
                        <div class="col-xs-5 col-sm-5 col-md-5" data-bind="text:eskiserial"></div>
                    </div>
                    <div data-bind="visible:eskiserial() || baglantiKontrol()" class="col-xs-12 col-sm-12 col-md-12">

                    </div>
                    <div data-bind="visible:baglantiKontrol()" class="col-xs-12 col-sm-12 col-md-12 label-warning">
                        <div class="col-xs-6 col-sm-6 col-md-6"><strong>Müşteriden Alınacak Olan Modem Seri</strong></div>
                        <div class="col-xs-1 col-sm-1 col-md-1"><strong>:</strong></div>
                        <div class="col-xs-5 col-sm-5 col-md-5">
                            <input type="text" id="seri" class="form-control" data-bind="value:eskiserial">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-3" data-bind="visible : message" style="position: absolute; top: 150px;" onclick="setTimeout(function () { $('#id_alert').css({ display: 'none' }); }, 1000)">
        <div class="alert alert-success alert-dismissible cls_alert" id="id_alert" role="alert" style="height: 100px;">
            <button type="button" data-bind="click :refresh" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>İşlem Başarılı</strong>
        </div>
    </div>
    <br />

    <div class="col-md-12 cls-padding-0px" id="editContainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div id="abonecontainer" class="col-md-12 cls-padding-0px">
            <div class="panel-group" id="accordion">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Abone Kampanya & Ürün Bilgileri </a>
                        </h4>
                    </div>

                    <div id="collapse2" class="panel-collapse collapse" data-bind="css:{'in': campaignEditable}">
                        <fieldset data-bind="enable: campaignEditable">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4  form-group-sm has-info cls-margin-bottom">
                                        <select id="kategori" data-bind="options:categorylist,optionsText:'category',optionsValue:'category',value:category,optionsCaption: 'Kategori Seçiniz...'"></select>
                                    </div>
                                    <div data-bind="visible:category" class="col-md-4 form-group-sm has-info">
                                        <select id="urun" data-bind="options:subcategorylist,optionsText:'subcategory',optionsValue:'subcategory',value:subcategory,optionsCaption: 'Alt Kategori Seçiniz...'"></select>
                                    </div>
                                    <div data-bind="visible:subcategory" class="col-md-4 form-group-sm has-info">
                                        <select id="kampanya" data-bind="options:campaignlist,optionsText:'name',optionsValue:'id',value:campaignid,optionsCaption: 'Kampanya Seçiniz...'"></select>
                                    </div>
                                </div>
                                <div class="row" data-bind="foreach:{ data: productlist, as:'categories'}">
                                    <div class="col-md-3">
                                        <div class="list-group">
                                            <h4 data-bind="text:categories.category" class="list-group-item active"></h4>
                                            <label class="list-group-item">
                                                <input data-bind="attr:{name: ('category' + $index()), value: 0},checked:categories.selectedProduct" type="radio" name="optradio1">
                                            </label>
                                            <!-- ko foreach:{ data: categories.products, as: 'product'} -->
                                            <label class="list-group-item">
                                                <input data-bind="attr:{name: ('category' + $parentContext.$index()), value: product.productid},checked:categories.selectedProduct" type="radio" name="optradio1">
                                                <span data-bind="text: product.productname"></span>
                                            </label>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div data-bind="visible: stockmovement().length>0" class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Seri Numaralı Ürünler</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse" data-bind="css:{'in': editable}">
                        <fieldset data-bind="enable: smEditable">
                            <div class="panel-body">
                                <div class="container-fluid cls-padding-0px cls-deneme-height ">
                                    <div class="row cls-margin-task">
                                        <div class="col-lg-12 cls-padding-0px">
                                            <div class="col-lg-12 cls-task cls-padding-0px">
                                                <table class="table" id="taskquetable" data-pagination="true" data-search="true">
                                                    <thead>
                                                        <tr>
                                                            <th class="warning">Hareket Tarihi</th>
                                                            <th class="info">Çıkış Yapan Birim</th>
                                                            <th class="info">Çıkış Yapılan Birim</th>
                                                            <th class="info">ürün Adı</th>
                                                            <th class="info">Adet/Serial No</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody data-bind="foreach:{ data:stockmovement , as:'sm'}">
                                                        <tr class="cls_line" onclick="">
                                                            <td data-bind="text:moment(movementdate).format('lll')"></td>
                                                            <td data-bind="text:$root.personelname"></td>
                                                            <td data-bind="text:$root.customername"></td>
                                                            <td data-bind="text:sm.stockcard.productname"></td>
                                                            <td>
                                                                <!--ko if:sm.stockcard.hasserial-->
                                                                <select id="serialno" data-bind="disable: sm.max()<=0, options:sm.serials,optionsCaption:'Seçiniz...', value:sm.serial"></select>
                                                                <!--/ko-->
                                                                <!--ko ifnot:sm.stockcard.hasserial-->
                                                                <input data-bind="value:sm.used,disable:sm.max()<=0, attr:{'max':sm.max},valueUpdate:'input'"
                                                                       type="text" class="form-control" id="exampleInputName2" style="height:30px;" placeholder="Default" /> / <span data-bind="text:sm.available"></span>
                                                                <!--/ko-->
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div data-bind="visible: customerdocument().length>0" class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Döküman Yükleme </a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse" data-bind="css:{'in': editable}">
                        <fieldset data-bind="enable: cdEditable">
                            <div class="panel-body" data-bind="visible:customerdocument().length>0">
                                <table class="table" id="taskquetable" data-pagination="true" data-search="true">
                                    <thead>
                                        <tr>
                                            <th class="warning">Döküman Adı</th>
                                            <th class="info">Döküman Yolu</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach:{ data:customerdocument}">
                                        <tr class="cls_line" onclick="">
                                            <td data-bind="text:adsl_document.documentname, attr:{'title': adsl_document.documentdescription}"></td>
                                            <td>
                                                <div>
                                                    <input class="btn" type="button" value="Seç..." data-bind="click: function(){ $root.selectFile(adsl_document.documentid); }" />
                                                    <span data-bind="text:documenturl"></span>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3 height-30 navbar-form pull-right">
        <span data-bind="visible:taskstatus()==0" class="label label-danger">Taskın Durumu Henüz Girilmemiş</span>
        <span data-bind="visible:!baglantiSeri()" class="label label-danger">Müşteriden Alınacak Seri Girilmemiş</span>
        <span data-bind="visible:!isEnterDateOption()" class="label label-danger">NetFlow Tarihi Henüz Girilmemiş</span>
        <span data-bind="visible:!isFaultSaved()" class="label label-danger">Kaynak Henüz Seçilmemiş</span>
        <span data-bind="visible:!isEnterSmno()" class="label label-danger">Superonline Müşteri No Henüz Girilmemiş</span>
        <span data-bind="visible:il() == '' || ilce() == ''" class="label label-danger">Müşteri Bilgilerini Güncelleyiniz</span>
        <span data-bind="visible:!campaignIsValid()" class="label label-danger">Kampanya Bilgileri Girilmemiş</span>
        <span data-bind="visible:!cdIsValid()" class="label label-danger">Döküman Yüklemeniz Gerekiyor</span>
        <span data-bind="visible:!smIsValid()" class="label label-danger">Donanım Girmeniz Gerekiyor</span>
        <span data-bind="visible:errormessage(), text:errormessage" class="label label-danger"></span>
        <button data-bind="click:modelIsValid()?function() {saveTaskQueues() }:(descriptionControl()?function() {saveTaskQueueDescription() }:null),enable:(modelIsValid() ||descriptionControl()) && isEnterDateOption() && isEnterSmno() && il() != '' && ilce() != '' && isFaultSaved() && baglantiSeri() && bpKaydet()" type="button" class="btn btn-success cls-right cls-button-control">Kaydet ve Anasayfaya Dön</button>
    </div>
    <!-- müşteri bilgilerini düzenleme For Modal Start -->
    <div class="modal fade" id="customerinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document" style="margin-top: 50px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Müşteri Kimlik Kartı</h4>
                </div>
                <div class="modal-body" data-bind="with: selectedCustomer" style="display: inline-block; position: relative; min-height: 50px;">

                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Müşteri No:</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><label data-bind="text:customerid"></label></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>S. Müşteri No</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <input data-bind="value:superonlineCustNo,enable:$root.perOfBayiOrKoc()" class="form-control" id="socn">
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Adı Soyadı</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><input class="form-control" data-bind="value:customername"></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Tc Kimlik No</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><input class="form-control" data-bind="value:tc"></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>GSM</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><input class="form-control" data-bind="value:gsm"></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Sabit Tel</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><input data-bind="value:phone" class="form-control"></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>E-Posta</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><input data-bind="value:email" class="form-control"></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Doğum Tarihi</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p> <input data-bind="value:birthdate" class="form-control"></p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>İl</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select class="form-control" id="ilcombo" data-bind="options: $root.ilList, optionsText: 'ad', optionsValue: 'kimlikNo', value:$root.ilKimlik , optionsCaption:'Seçiniz'"></select>
                    </div>
                    <div data-bind="visible:$root.ilKimlik" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>İlçe</p>
                    </div>
                    <div data-bind="visible:$root.ilKimlik" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select id="ilcecombo" data-bind="options: $root.ilceList, optionsText: 'ad', optionsValue: 'kimlikNo',optionsCaption:'Seçiniz', event: { change: $root.ilceChanged }" class="form-control"></select>
                    </div>
                    <div data-bind="visible:$root.ilceKimlik" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Bucak</p>
                    </div>
                    <div data-bind="visible:$root.ilceKimlik" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select id="bucakcombo" data-bind="options: $root.bucakList, optionsText: 'ad', optionsValue: 'kimlikNo',optionsCaption:'Seçiniz', event: { change: $root.regionChanged }" class="form-control"></select>
                    </div>
                    <div data-bind="visible:$root.regionKimlik" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Mahalle</p>
                    </div>
                    <div data-bind="visible:$root.regionKimlik" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <select id="mahallecombo" data-bind="options: $root.mahalleList, optionsText: 'ad', optionsValue: 'kimlikNo',optionsCaption:'Seçiniz',event: { change: $root.mahalleChanged }" class="form-control"></select>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                        <p>Açıklama / Açık Adres</p>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                        <p><textarea data-bind="value:description" class="form-control" rows="3"></textarea></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                    <button type="button" data-bind="click:saveCustomer" class="btn btn-success">Kaydet</button>
                </div>
            </div>

        </div>
        <!-- müşteri bilgilerini düzenleme For Modal Finish-->
    </div>

</div>
<script type="text/javascript" src="Templates/TaskQueueEditForm.js"></script>
<script>
    $(document).ready(function () {
        moment.locale('tr');
    });
</script>
