<div id="bindingmodal" class="modal-dialog modal-md" role="document" style="margin-top: 50px;">
    <div class="modal-content">
        <div class="modal-header btn-success">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Yeni Satış Bilgilendirme</h4>
        </div>
        <div class="modal-body" style="display: inline-block; position: relative; min-height: 50px;">
            <div class="col-xs-12 col-sm-12 col-md-12 cls-padding-0px">
                <p></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Tc Kimlik No</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <input data-bind="value:tckimlikno" type="number" class="form-control" id="tc">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Müşteri Adı Soyadı</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <input data-bind="value:customername" type="text" class="form-control" id="csnm">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Gsm</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <input data-bind="value:gsm" type="text" class="form-control" id="gsmt">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Ev Telefonu</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <input data-bind="value:phone" type="text" class="form-control" id="phone">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>E-Posta</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <input data-bind="value:email" type="text" class="form-control" id="phone">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>İl</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <select id="optionIl" data-bind="options:ilList,optionsValue:'kimlikNo',optionsText:'ad',value:selectedIl,optionsCaption:'İl Seçiniz..'"></select>
            </div>
            <div data-bind="visible:selectedIl" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>İlçe</p>
            </div>
            <div data-bind="visible:selectedIl" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <select id="optionIlce" data-bind="options:ilceList,optionsValue:'kimlikNo',optionsText:'ad',value:selectedIlce,optionsCaption:'İlçe Seçiniz..'"></select>
            </div>
            <div data-bind="visible:selectedIlce" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Bucak</p>
            </div>
            <div data-bind="visible:selectedIlce" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <select id="optionBucak" data-bind="options:bucakList,optionsValue:'kimlikNo',optionsText:'ad',value:selectedBucak,optionsCaption:'Bucak Seçiniz..'"></select>
            </div>
            <div data-bind="visible:selectedBucak" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Mahalle/Köy</p>
            </div>
            <div data-bind="visible:selectedBucak" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <select id="optionMahalle" data-bind="options:mahalleList,optionsValue:'kimlikNo',optionsText:'ad',value:selectedMahalle,optionsCaption:'Mahalle Seçiniz..'"></select>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Açık Adres</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <input data-bind="value:fulladdress" placeholder="Adres Detay" type="text" class="form-control" id="fulladres">
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Task Açıklama</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <input data-bind="value:taskdescription" placeholder="Task Açıklama" type="text" class="form-control" id="Text3">
            </div>
            <img data-bind="visible:loadingmessage()==1 " src="/img/loadingbar.gif" class="img-responsive col-md-12" alt="Cinque Terre">
            <span data-bind="visible:loadingmessage()==1" class="text-center col-md-12">Yükleniyor...</span>
        </div>
        <div class="modal-footer">
            <span data-bind="visible:errorControl()" style="font-size:x-large">Hata Oluştu!</span>
            <span data-bind="visible:errorControl()">Tekrar Deneyiniz</span>
            <div data-bind="visible: !errorControl()">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                <button data-bind="click:insertAdslSalesTask" type="button" class="btn btn-success">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="Templates/New/InfoTask.js"></script>
<script>
    $(document).ready(function () {
        moment.locale('tr');
    });
</script>