<div id="bindingmodal" class="modal-dialog modal-md" role="document" style="margin-top: 50px;">
    <div class="modal-content">
        <div class="modal-header btn-success">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Yeni ADSL Satış</h4>
        </div>
        <div class="modal-body" style="display: inline-block; position: relative; min-height: 50px;">
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p></p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <button class="btn btn-success btn-lg " data-bind="click:isBayi">BAYİ</button>
                <button class="btn btn-warning btn-lg pull-right " data-bind="visible:isSirketPersonel() ,click:isCC">CC</button>
                <label role="separator" class="divider"></label>
                <span class="label label-danger" data-bind="visible:isSirketPersonel() ,text:bayi()==null && cc()==null?'Lütfen Giriş Yapmak İstediğiniz Satışı Seçin':''"></span>
                <span class="label label-success" data-bind="visible:isSirketPersonel() ,text:bayi()?' Bayi Satışı Yapıyorsunuz':null"></span>
                <span class="label label-warning pull-right" data-bind="visible:isSirketPersonel() ,text:cc()?'CC Satışı Yapıyorsunuz':null"></span>
                <label role="separator" class="divider"></label>
            </div>      
            <div data-bind="visible:bayi() || cc()" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>İnternet Türü</p>
            </div>
            <div data-bind="visible:bayi() || cc()" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="kategori" data-bind="options:categorylist,optionsText:'category',optionsValue:'category',value:category,optionsCaption: 'Seçiniz...'"></select>
            </div>
            <div data-bind="visible:category" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                <p>Kampanya Türü</p>
            </div>
            <div data-bind="visible:category" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                <select id="kampanyaturu">
                    <option>Seçiniz</option>
                   <option value="1">YALIN</option>
                   <option value="2">CHURN</option>
                </select>
            </div>
            <div data-bind="visible:yalin() || churn()">
                <div data-bind="visible:isAutorized" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Satışı Yapan Kişi</p>
                </div>
                <div data-bind="visible:isAutorized" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <select id="salesPersonel" data-bind="options:personellist,optionsText:'personelname',optionsValue:'personelid', value:salespersonel" class="form-control"></select>
                </div>
                <div data-bind="visible:isAutorized" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Satış Kaynağı</p>
                </div>
                <div data-bind="visible:isAutorized" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <select id="kaynak" data-bind="value:fault">
                        <option value="">Seçiniz</option>
                        <option value="Müşteri Hizmetleri">Müşteri Hizmetleri</option>
                        <option value="Ürünler Arası Geçiş">Ürünler Arası Geçiş</option>
                        <option value="Gatio">Gatio</option>
                        <option value="Giza">Giza</option>
                        <option value="Samline">Samline</option>
                        <option value="Jade">Jade</option>
                        <option value="Tim">Tim</option>
                        <option value="Telekomone">Telekomone</option>
                        <option value="KÇM">KÇM</option>
                        <option value="Bayi">Bayi</option>
                        <option value="Diğer">Diğer</option>
                    </select>
                </div>
                <div data-bind="visible: cc()" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>NetFlow Tarihi</p>
                </div>
                <div data-bind="visible: cc()" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <input type="text" id="daterangepicker4" class="form-control" data-bind="value: appointmentdate">
                </div>
                <div data-bind="visible:isSirketPersonel()" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>S. Müşteri No</p>
                </div>
                <div data-bind="visible:isSirketPersonel()" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <input data-bind="value:superonlineCustNo" class="form-control" id="socn">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Tc Kimlik No</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <input data-bind="value:tckimlikno" type="number" class="form-control" id="tc">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Müşteri Adı Soyadı</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <input data-bind="value:customername" type="text" class="form-control" id="csnm">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Gsm</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <input data-bind="value:gsm" type="text" class="form-control" id="gsmt">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Ev Telefonu</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <input data-bind="value:phone" type="text" class="form-control" id="phone">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>E-Posta</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <input data-bind="value:email" type="text" class="form-control" id="phone">
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>İl</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="optionIl" data-bind="options:ilList,optionsValue:'kimlikNo',optionsText:'ad',value:selectedIl,optionsCaption:'İl Seçiniz..'"></select>
                </div>
                <div data-bind="visible:selectedIl" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>İlçe</p>
                </div>
                <div data-bind="visible:selectedIl" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="optionIlce" data-bind="options:ilceList,optionsValue:'kimlikNo',optionsText:'ad',value:selectedIlce,optionsCaption:'İlçe Seçiniz..'"></select>
                </div>
                <div data-bind="visible:selectedIlce" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Bucak</p>
                </div>
                <div data-bind="visible:selectedIlce" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="optionBucak" data-bind="options:bucakList,optionsValue:'kimlikNo',optionsText:'ad',value:selectedBucak,optionsCaption:'Bucak Seçiniz..'"></select>
                </div>
                <div data-bind="visible:selectedBucak" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Mahalle/Köy</p>
                </div>
                <div data-bind="visible:selectedBucak" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="optionMahalle" data-bind="options:mahalleList,optionsValue:'kimlikNo',optionsText:'ad',value:selectedMahalle,optionsCaption:'Mahalle Seçiniz..'"></select>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Açık Adres</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <input data-bind="value:fulladdress" placeholder="Adres Detay" type="text" class="form-control" id="fulladres">
                </div>
                <div data-bind="visible:category" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Altkategori</p>
                </div>
                <div data-bind="visible:category" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="urun" data-bind="options:subcategorylist,optionsText:'subcategory',optionsValue:'subcategory',value:subcategory,optionsCaption: 'Alt Kategori Seçiniz...'"></select>
                </div>
                <div data-bind="visible:subcategory" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Kampanya</p>
                </div>
                <div data-bind="visible:subcategory" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="kampanya" data-bind="options:campaignlist,optionsText:'name',optionsValue:'id',value:campaignid,optionsCaption: 'Kampanya Seçiniz...'"></select>
                </div>
                <div data-bind="visible:campaignid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Net</p>
                </div>
                <div data-bind="visible:campaignid" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="product" data-bind="options:productlist,optionsValue:'productid',optionsText:'productname',value:selectedNet,optionsCaption:'Net Seçiniz..'"></select>
                </div>
                <div data-bind="visible: sesList &&sesList().length>0" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Ses</p>
                </div>
                <div data-bind="visible:sesList && sesList().length>0" class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <select id="ses" data-bind="options:sesList,optionsValue:'productid',optionsText:'productname',value:selectedSes,optionsCaption:'Ses Seçiniz..'"></select>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px; padding: 4px 0 0 0">
                    <p>Task Açıklama</p>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 cls-padding-0px" style="margin-top: 3px;">
                    <input data-bind="value:taskdescription" placeholder="Adres Detay" type="text" class="form-control" id="Text3">
                </div>
                <img data-bind="visible:loadingmessage()==1 " src="/img/loadingbar.gif" class="img-responsive col-md-12" alt="Cinque Terre">
                <span data-bind="visible:loadingmessage()==1" class="text-center col-md-12">Yükleniyor...</span>
            </div>
        </div>
        <div class="modal-footer">
            <span data-bind="visible:errorControl()" style="font-size:x-large">Hata Oluştu!</span>
            <span data-bind="visible:errorControl()">Tekrar Deneyiniz</span>
            <div data-bind="visible: !errorControl()">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Kapat</button>
                <button data-bind="click:insertAdslSalesTask, enable:isSelectedKaynak" type="button" class="btn btn-success">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="Templates/New/NewAdslSales.js"></script>
<script>
    $(document).ready(function () {
        moment.locale('tr');
    });
</script>
